/* Style for every single div on the page */
body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.page-container {
    display: flex;
    flex-direction: column;
}

/* Styling the navbar */
.navbar {
    display: flex;
    color: #FFFFFF;
    background-color: #1F2937;
    padding-left: 200px;
    padding-bottom: 20px;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}



.header-link {
    display: flex;
    margin-left: auto;
    padding-right: 0px 200px 0px 0px;
}

.header-link p {
    color: #FFFFFF;
    font-size: 18px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .box1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
  }

  .box2 {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
  }

  .box3 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
  }

  .box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(223, 184, 14);
    margin: 10px;
  }