/* Style for every single div on the page */
body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.page-container {
    display: flex;
    flex-direction: column;
}

/* Styling the navbar */
.navbar {
    display: flex;
    color: #FFFFFF;
    background-color: #1F2937;
    padding-left: 200px;
    padding-bottom: 20px;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding-right: 0px 200px 0px 0px;
}

.header-link p {
    color: #FFFFFF;
    font-size: 18px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
}


/* Hero styling */
.top{
    display: flex;
    color: #FFFFFF;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.title{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
    font-family: 'Roboto', arial;
}

.title p {
    font-family: 'Roboto', arial;
    color: rgb(180, 179, 179);
}

.title button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.pic img {
    width: 500px;
    height: 250px;
}






.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .box1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
  }

  .box2 {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
  }

  .box3 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
  }

  .box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(223, 184, 14);
    margin: 10px;
  }